.profile1 {
  display: flex;
  width: auto; 
  background-color: #ffffff;
  /* visibility: hidden; */
  /* right: 0; */
}

.side {
  background-image: linear-gradient(#09EB7E, #01C9DB);
  width: 30px;
  height: 100vh;
}

.container {
  height: 100vh;
  width: auto;
}

.header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  margin-top: 8px;
  gap : 30px;
  position: relative;
  font-weight: 600;
}

.circle {
  background-color: #2F2E41;
  width: 60px;
  height: 60px;
  border-radius: 100%;
}

.arrow {
  width: 30px;
  /* position:relative; */
  /* left: 50px; */
  
}

.description {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  margin: 100px 15% 15% 15%;
  gap: 20px;
}

.description .text {
  font-size: 20px;
}

#water {
  transform: scaleX(50%);
}

#calories {
  transform: scaleX(60%);
}

#burnt {
  transform: scaleX(60%);
}

.graph{
  margin: 150px 15% 15% 15%;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  gap: 20px;
}

.graph-header {
  font-size: 20px;
  display: flex;
  justify-content: flex-start;
  gap: 10px;
  position: relative;
}

.percentage {
  font-size: 20px;
  position: absolute;
  right: 0;
}

.blue {
  color: #02A0F5;
}

.green {
  color:#09EB7E
}

.red {
  color: #F76775;
}

@media only screen and (max-width: 960px) {
  .profile1{
    height: auto;
    width: 100vw;
    justify-content: center;
  }

  .header{
    margin-top: 50px;
  }

  .description {
    margin: 0%;
  }

  .graph {
    margin: 0%;
    margin-top: 50px;
  }

  .container {
    padding: 5px;
    width: 360px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    gap: 50px;
  }

  .side {
    display:none;
  }
}

@media only screen and (max-width: 600px) {
  .circle {
    display: none;
  }

  .header {
    margin-top: 10px;
    font-size: 22px;
  }
  .container header{
    font-size: 22px;
  }

  .container {
    width: 270px;
    gap: 30px;
  }

  .graph {
    margin-top: 10px;
  }
  .graph-header, .percentage{
    font-size: 18px;
  }

  .description .text {
    font-size: 18px;
  }
  .description svg {
    width: 30%;
  }
}




